/* 
    General Styles
*/
body{
    font-family: "Source Sans Pro"
}
.officeBody{
    background-image: url("https://res.cloudinary.com/div5hqtbd/image/upload/v1590167792/Personal_Vlog_YouTube_Thumbnail_jxahq4.png");
    background-repeat: no-repeat;
    background-position: center;
}
.footerBg{
    background-image: url("https://res.cloudinary.com/div5hqtbd/image/upload/v1590247791/footer-bg_1_lkjvsx.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.midLine{
    background: linear-gradient(to right, 
	                              transparent 0%, 
	                              transparent calc(20% - 0.81px), 
	                              #0688FA calc(20% - 0.9px), 
	                              #0688FA calc(20% + 0.9px), 
	                              transparent calc(20% + 0.81px), 
	                              transparent 100%);
}
ul{
    list-style:none;
}
li{
  
  margin: 10px 0;
}